/*GLOBAL
----------------*/

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");

/* Color styles */
:root {
  --text-color-main: rgba(0, 0, 0, 1);
  --link-color-main: #ff5775;
  --banner-color: rgba(49, 54, 64, 1);
  --text-color-alternativ: rgba(255, 255, 255, 1);
  --brand-color-primary: rgba(0, 0, 255, 1);
  --arrow-color-main: rgba(255, 87, 117, 1);
  --arrow-color-alternativ: rgba(255, 255, 255, 1);
  --text-hover-color: #313640;

  /* Text-size styles */
  --h1-bold-web: 63px;
  --h1-thin-web: 63px;
  --h1-generel-table: 40px;
  --h1-generel-mobil: 30px;
  --h2-bold-web: 45px;
  --h2-thin-web: 63px;
  --h2-generel-table: 40px;
  --h2-generel-mobil: 25px;
  --h3-bold-web: 27px;
  --h3-thin-web: 27px;
  --h4-bold-web: 21px;
  --h4-thin-web: 21px;
  --body-footer-web: 16px;
  --body-reg-info-web: 20px;
  --body-thin-web: 14px;
  --body-generel-table: 12px;
  --link-reg-web: 22px;
  --link-reg-mobil: 20px;
  --link-reg-nav-web: 20px;
  --link-reg-ticket-web: 16px;

  --line-hight-generel-p: 24px;
  --line-hight-mobil-p: 16px;

  /* Font styles */
  --h1-body-font: "Inter", Arial;
  --h2-body-font: "Inter", Arial;
  --h3-body-font: "Inter", Arial;
  --h4-body-font: "Inter", Arial;
  --link-font: "Inter", Arial;
  --body-p-font: "Inter", Arial;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: var(--h1-bold-web);
  font-family: var(--h1-body-font);
  font-weight: 700;
}

h2 {
  font-family: var(--h2-body-font);
  font-size: var(--h2-bold-web);
  font-weight: 700;
}

h3 {
  font-family: var(--h3-body-font);
  font-size: var(--h3-bold-web);
  font-weight: 700;
}

h4 {
  font-family: var(--h4-body-font);
}

a {
  font-family: var(--link-font);
  font-size: var(--link-reg-web);
  text-decoration: none;
  color: var(--link-color-main);
}

p {
  font-family: var(--body-p-font);
  color: var(--text-color-alternativ);
  font-size: var(--body-thin-web);
  line-height: var(--line-hight-generel-p);
}
.innerhtml {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.innerhtml p {
  font-size: 12px;
  margin-left: 12px;
}

.innerhtml li {
  font-size: 12px;
  margin: 0 20px;
  line-height: 25px;
}

/*FOOTER
---------------------*/
footer {
  background-color: var(--banner-color);
  padding: 2rem 0;
}

/*MEDIA 1000px, 800px, 600px
------------------------------*/

@media (max-width: 1000px) {
  h1 {
    font-size: var(--h1-generel-table);
  }
}

@media (max-width: 800px) {
  h2 {
    font-size: var(--h2-generel-table);
  }
  p {
    font-size: var(--body-generel-table);
    line-height: var(--line-hight-mobil-p);
  }
  a {
    font-size: var(--link-reg-mobil);
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: var(--h1-generel-mobil);
  }

  h2 {
    font-size: var(--h2-generel-mobil);
  }
}
