---
import MainLayout from "../layouts/MainLayout.astro";
import Headline from "../components/Headline.astro";
import Intro from "../components/Intro.astro";
import Textbuild from "../components/Textbuild.astro";
---

<MainLayout>
  <Intro>
    <article class="intro">
      <h1>Degrowth <span>&amp;</span> Consumerism</h1>
      <div class="block">
        <p>The theme for UX Copenhagen® 2024 is “Degrowth & Consumerism”</p>
        <p>For far too long, we have been living in a world that applauds and encourages continuous growth, expansion, selling, and manipulation. It’s a world of over production and over consumption, but we’re running out of resources. Business as usual will not cut it anymore.</p>
        <p>As last year’s closing keynote, Angelos Arnis put it “There is no planet B.”</p>
      </div>
      <div class="link">
        <a href="/#">Read more</a>
        <a href="/#">Tickets</a>
        <a href="/#">Speakers</a>
      </div>
    </article>
  </Intro>
  <Headline textbox={true} overskrift_bold="Call for speakers" overskrift_thin="2024" text="Our call for speakers is open each year from June 1 - Sep 1. Please send an email to conference curator Helle Martens with our proposal: hello@uxcopenhagen.com." />
  <section>
    <article class="test">
      <h1><span>Previous</span> Talks</h1>
      <p>In case you missed out, some of the talks from previous years are available on our YouTube channel for free viewing. The full recordings, including Q&A sessions and the talks not found on YouTube are available for purchase – please visit our shop for more information.</p>
      <a href="/prevtalks">Read more</a>
    </article>
    <img src="/prevtalks.png" alt="prev talks" />
  </section>
</MainLayout>

<style>
  section {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    gap: 10rem;
  }

  img {
    margin-top: 110px;
    width: 35%;
    height: auto;
  }

  span {
    font-weight: 100;
  }

  .test {
    background-color: var(--brand-color-primary);
    border-radius: 0 50px 50px 0;
    padding: 2rem 2rem 2rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 673px;
    max-height: 429px;
  }
  .intro {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .test h1 {
    max-width: 2rem;
    color: var(--text-color-alternativ);
  }

  .test p {
    color: var(--text-color-alternativ);
    font-weight: 100;
  }

  .block {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .link {
    display: flex;
    gap: 30px;
  }
  p {
    color: var(--text-color-main);
    max-width: 65ch;
    font-weight: 400;
  }

  h1 {
    font-size: var(--h1-bold-web);
    max-width: 15ch;
  }
</style>
