---
const response = await fetch("https://fcjitciuvvjnpyohjrbx.supabase.co/rest/v1/prevtalks", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjaml0Y2l1dnZqbnB5b2hqcmJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTY1NDQsImV4cCI6MjAxMjA3MjU0NH0.hqEiYxGAHflWDfWpEC53ykk3Y2DA57jMZbBYXMcWYr8",
  },
});
const data = await response.json();

import MainLayout from "../layouts/MainLayout.astro";
import Headline from "../components/Headline.astro";
import Textbuild from "../components/Textbuild.astro";
---

<MainLayout>
  <section class="margintop">
    <Headline overskrift_bold="Previous" overskrift_thin="Talks" />
  </section>
  <section>
    {
      data.map((text) => {
        return <Textbuild data={text} />;
      })
    }
  </section>
</MainLayout>

<style>
  .margintop {
    margin-top: 7rem;
  }
</style>
