---
import MainLayout from "../layouts/MainLayout.astro";
import Headline from "../components/Headline.astro";
---

<MainLayout>
  <section class="margintop">
    <Headline slot="skiller" overskrift_bold="Speaker" overskrift_thin="2024" />
  </section>
  <MainLayout />

  <style>
    .margintop {
      margin-top: 7rem;
    }
  </style>
</MainLayout>
