---
import MainLayout from "../layouts/MainLayout.astro";
import Headline from "../components/Headline.astro";
---

<MainLayout>
  <section class="margintop">
    <Headline textbox={true} overskrift_bold="Tickets" overskrift_thin="2024" text="Don't hesitate - Go find your tickets for this years conference, with the theme Degrowth & Consumerism" />
  </section>
</MainLayout>

<style>
  .margintop {
    margin-top: 7rem;
  }
</style>
