---
const {variant, text} = Astro.props;
---


  <a class={variant} href="/#">{text} <img src="/icons/pink_pil.svg" alt=""></a>


<style>
  
.primary{
display: flex;
gap: 1rem;
align-items: center;
}
.primary img{
  width: 20%;
  margin-top: 3px;
}

.secondary{
  background-color: var(--link-color-main);
  color: var(--arrow-color-alternativ);
  display: flex;
gap: 1rem;
align-items: center;
}
.secondary img{
  width: 20%;
  margin-top: 3px;
  content: url('/icons/hvid_pil.svg');
}

.arrow img{
  width: 5%;
}
</style>

