---
const { variant, text, site } = Astro.props;
---

<a class={variant} href={site}>{text} <img src="/arrow_p.svg" alt={text + "Button"} /></a>

<style>
  .primary {
    display: flex;
    gap: 0.4rem;
    align-items: center;
  }
  .primary img {
    width: 25px;
    height: 100%;
    margin-top: 3px;
  }

  .secondary {
    background-color: var(--link-color-main);
    color: var(--arrow-color-alternativ);
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 20rem;
  }
  .secondary img {
    width: 25px;
    height: 100%;
    margin-top: 3px;
    content: url("/arrow_w.svg");
  }

  .arrow img {
    width: 40px;
  }
</style>
