---

---

<article>
  <p>9 <br /> YEARS OF EXPERIENCE</p>
  <p>20 <br /> SPEAKERS EACH YEAR</p>
  <p>75+ <br /> WORKSHOPS HOSTED</p>
  <p>2000+ <br /> ATTENDEES</p>
</article>

<style>
  article {
    background-color: var(--banner-color);
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 0;
  }

  p {
    font-size: var(--body-reg-info-web);
    text-align: center;
  }

  @media (max-width: 900px) {
    p {
      font-size: var(--body-generel-table);
    }
  }

  @media (max-width: 650px) {
    article {
      height: 4rem;
    }

    p {
      font-size: 8px;
    }
  }
</style>
