---

---

<section>
  <video autoplay src="/main_rotate_1.mp4" loop="auto"></video>
  <slot />
</section>

<style>
  section {
    margin: 4rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;
  }
  video {
    margin-left: 5rem;
    min-width: 20%;
  }

  @media (max-width: 600px) {
    section {
      flex-wrap: wrap;
      gap: 2rem;
    }

    video {
      margin: 0;
      max-width: 350px;
    }
  }
</style>
