---
const { link, site, type, size } = Astro.props;
---

<a class={size + "" + type} href={site}>{link}<img class={type} src="/arrow_p.svg" alt="arrow button" /></a>

<style>
  a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  img {
    max-width: 25%;
  }

  a:hover img {
    content: url("/arrow_hover.svg");
  }

  .white {
    content: url("/arrow_w.svg");
  }
</style>
