---

---

<nav>
  <a href="/index"><img src="/logob.png" alt="logo" /></a>
  <div>
    <a href="/tickets">Tickets</a>
    <a href="/aboutus">About us</a>
    <a href="/speakers">Speakers</a>
    <a href="/prevtalks">Prev Talks</a>
  </div>
</nav>

<style>
  nav {
    margin: 0 45px 0 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 70%;
  }

  div {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }

  a {
    font-size: var(--reg-nav-web);
    color: var(--text-color-main);
  }

  a:hover {
    color: var(--link-color-main);
  }
</style>
