---
import Button from "./Button.astro";
---

<section>
  <article>
    <img src="" alt="theme image" />
    <div>
      <h3>bold</h3>
      <div>
        <h3>thin</h3>
        <h3>thin</h3>
      </div>
    </div>
    <div>
      <h4>thin</h4>
      <h3>bold</h3>
    </div>
    <Button variant="arrow" />
  </article>
  <Button varian="secondary" />
</section>
