---
import Button from "./Button.astro";
const { date } = Astro.props;
---

<section>
  <article>
    <img src="/imgs/ticketimg.webp" alt="theme image" />
    <h3>bold</h3>
    <div>
      <h3>thin</h3>
      <h3>thin</h3>
    </div>
    <div>
      <h4>thin</h4>
      <h3>bold</h3>
    </div>
    <Button variant="arrow" />
  </article>
  <Button varian="secondary" />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
  }

  article {
    display: flex;
    flex-direction: column;
    background-color: var(--brand-color-primary);
    color: var(--text-color-alternativ);
  }
</style>
